nav.mainNav {
  margin-bottom: 35px;
}

nav.mainNav ul {
  padding-left: 0;
  margin: 0;
  line-height: 25px;
  list-style-type: none;
}

nav.mainNav ul > li:not(:last-of-type) {
  margin-bottom: 8px;
}
